@charset "UTF-8";

@font-face {
  font-family: 'Logo-font';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/CulDeSac.ttf');
}

* {font-family: sans-serif;}
html, body, form {height: 100%;}
body {margin: 0px; padding: 0px; overflow: hidden; }
form {margin: 0px; padding: 0px; background-image: linear-gradient(142deg, #FAF4C0, #DAD9FF 31%, #D9E5FF 65%, #D1B2FF);}
table {border-collapse: collapse;}

.aleft { text-align: left !important; }
.acenter { text-align: center !important; }
.aright { text-align: right !important; }

.pageheader {
	margin: 0px 3%;
	padding: 0px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.pagecontent { 
	height: 100%;
}
.pagefooter { }

.headerlayout {
	width: 100%;
}
.headerlayout td {
	vertical-align: bottom;
}
.logo {
	padding-top: 0.5em;
	padding-left: 0.2em;
	font-family: Logo-font;
	font-size: 2em;
	display: inline-block;
	cursor: pointer;
}
.description {
	margin-left: 1em;
    font-family: 'Logo-font';
    font-size: 1em;
	display: inline-block;
	cursor: default;
}
.menuBtn {
	margin-right: 0.2em;
	margin-bottom: 2px;
	font-size: 1.3em;
	cursor: pointer;
}
.menuContainer {
	max-width: 50%;
	height: 100%;
	float: right;
	background-color: rgba(0, 0, 0, 0.2);
	display: none;
}

.menuContainer .inner {
    margin: 0.5em 0em 0em 0.5em;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 0.5em 0em 0em 0em;
	overflow-y: scroll;
	-ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.menuContainer .inner::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
.menuContainer table { width: 100%; border-radius: 0.5em 0em 0em 0em; margin-bottom: 100%; }
.menuContainer table td { 
	padding: 1em 2em 1em 0.8em;
	border: 1px solid rgba(0, 0, 0, 0.1); 
	border-left: none;
	border-right: none;
	cursor: pointer;
	white-space: nowrap;
}
.menuContainer table td:first-child {
	border-top: 1px solid rgba(0, 0, 0, 0);
}
.menuContainer table td:hover {
	background-color: rgba(255, 255, 255, 0.5);
}
.menuContainer .menuHome {
	border-radius: 0.5em 0em 0em 0em;
}
.menuContainer .menuItem {
	
}
